@model IssueTracker.ViewModels.UserManagementViewModel

<div class="card">
    <div class="card-body">
        <form asp-controller="UserManagement" asp-action="AssignRole">
            <table class="table">
                <tr>
                    <th>User</th>
                </tr>
                @foreach (var user in Model.Users) {
                    <tr>
                        <td><a asp-controller="UserManagement" asp-action="Details" asp-route-id="@user.Id">@user.UserName</a></td>
                    </tr>
                }
            </table>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
